*{
    margin:0;
    padding:0;
}
body{
    background-color: #000;
}
.about{
width:100%;
padding:78px 0;
background-color: #000;
}
.about img{
    height:300px;
    width: 420px;
}
.main{
    width:1130px;
  
    margin:0 auto;
    display: flex;
    justify-content:space-around;
text-align: center;
}
.about-text{
    color:white;
    text-align: left;
    margin-left:5px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.about-text h1{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 50px;
}
